<div
  class="sidebar"
  data-color="purple"
  data-background-color="white"
  data-image="../assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <span class="nav-title">Категории</span>

    <!-- Кнопка добавления новой категории -->
    <span class="add-icon-area">
      <button mat-icon-button class="add-icon" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">

      <!--Поиск категорий-->
      <div class="search-category-area">
        <mat-form-field class="example-full-width">

          <input
           #inputSearchCategory
           (keydown.escape)="searchCategoryTitle = ''; search()"
           (keyup)="search()"
           [(ngModel)]="searchCategoryTitle"
           matInput
           maxlength="256"
           placeholder="Поиск категорий"
          />

          <button
            (click)="searchCategoryTitle = ''; search()"
            *ngIf="inputSearchCategory.value.trim().length > 0"
            aria-label="Clear"
            class="search-category-button size25 gray"
            mat-button
            mat-icon-button
            matSuffix
          >
            <mat-icon>clear</mat-icon>
          </button>

        </mat-form-field>
      </div>

      <!--Виртуальная категория - 'Все' -->
      <li
        class="nav-item category"
        (click)="showTasksByCategory(null)"
        [class.active]="selectedCategory === null"
      >
        <a class="nav-link pointer">
          <span class="all-category-title">Все</span>
        </a>
      </li>

      <!--      разделитель-->
      <div class="line"></div>

      <div *ngIf="categories.length === 0" class="not-found"><p>Ничего не найдено!</p></div>

      <li
        class="nav-item pointer"
        *ngFor="let category of categories; let index = index"
        [class.active]="category === selectedCategory"
        (click)="showTasksByCategory(category)"
        (mouseleave)="showEditIcon(null)"
        (mouseenter)="showEditIcon(index)"
      >
        <a class="nav-link">
          <!-- Название категории -->
          <span class="category-title">{{ category.title }}</span>
          <!-- Кнопка редактирования категории -->
          <span class="edit-category-icon-area">
            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(category)"
              class="edit-category-icon"
            >
              edit
            </mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
